<div class="col-sm-6">
    <div  align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive"> 
</div></div>


<div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column">
    <div fxFlex>
        <mat-card style="background-color:#466341;color: cornsilk" fxFlexFill fxLayoutAlign="center center">
            Données Adhérent(e)
        </mat-card>
    </div>
</div>
<div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <div [fxFlex]="50">
    <mat-card fxFlexFill fxLayoutAlign="center center">
            <span> Login:</span>  hejer
    </mat-card>
</div>
<div [fxFlex]="50">
    <mat-card fxFlexFill fxLayoutAlign="center center">
      <span> Mot de passe</span>  hello
    </mat-card>
</div>
<button (click)="showChangePwd()">Changer mot de passe</button>
</div>
<div  *ngIf="showModifyPwd">
        <form class="login-form" fxFlex (ngSubmit)="changePassword()" [formGroup]="pwdFormGroup">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Modifier Mot de passe:</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                    <section class="example-section">
                    <mat-form-field class="example-margin">
                        <input matInput type="text" placeholder="Ancien mot de passe"  formControlName="old">
                    </mat-form-field>
                    <mat-form-field class="example-margin">
                        <input matInput type="text" placeholder="Nouveau mot de passe" formControlName="new">
                    </mat-form-field>
                     
        <button mat-raised-button color="primary" style="margin-bottom: 1%" (click)="changePassword()">Confirmer</button>    
                </section>
            </mat-card-content>
        </mat-card></form></div>
        
<div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <div [fxFlex]="50">
            <mat-card fxFlexFill fxLayoutAlign="center center">
                    <span>Police : </span> 
                    {{member.ponum}} 
                   </mat-card>
        </div>
        <div [fxFlex]="50">
                <mat-card fxFlexFill fxLayoutAlign="center center">
                        <span>Matricule : </span> 
                        {{member.matricule}} 
                       </mat-card>
            </div>
</div>
<div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <div [fxFlex]="50">
        <mat-card fxFlexFill fxLayoutAlign="center center">
         <span>Adhérent(e) : </span> 
          {{member.firstname}} {{member.lastname}}
        </mat-card>
    </div>
    <div [fxFlex]="50">
        <mat-card fxFlexFill fxLayoutAlign="center center">
                <span>Télephone : </span> 
                {{member.phone}}
        </mat-card>
    </div>
  
</div>
<div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <div [fxFlex]="50">
                <mat-card fxFlexFill fxLayoutAlign="center center">
                <span>  Date de naissance: </span> {{member.birthdate}}
                </mat-card>
            </div>
        <div [fxFlex]="50">
                <mat-card fxFlexFill fxLayoutAlign="center center">
                        <span> Pays:</span>  {{member.country}} 
                </mat-card>
            </div> 
</div>
    <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
            <div [fxFlex]="50">
                    <mat-card fxFlexFill fxLayoutAlign="center center">
                            <span> Adresse:</span> {{member.address}} 
                    </mat-card>
                </div> 
            <div [fxFlex]="50">
                    <mat-card fxFlexFill fxLayoutAlign="center center">
                      <span> Code Postal:</span>  {{member.cp}}
                    </mat-card>
                </div>
    </div>
    <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
                <div [fxFlex]="50">
            <mat-card fxFlexFill fxLayoutAlign="center center">
                    <span> Date d'entrée à l'assurance:</span>  {{member.joinDate}} 
            </mat-card>
        </div>
        <div [fxFlex]="50">
            <mat-card fxFlexFill fxLayoutAlign="center center">
              <span> RIB:</span>  {{member.rib}}
            </mat-card>
        </div>
        </div>
        <button color="primary" style="margin-bottom: 1%" (click)="modifyInfos()">Modifier</button>

<div  *ngIf="showModifyInfos">
        <form class="login-form" fxFlex (ngSubmit)="validateModifyInfos()" [formGroup]="modifyForm">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Modifier vos informations:</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                    <section class="example-section">
                    <mat-form-field class="example-margin">
                        <input matInput type="text" placeholder="Téléphone"  formControlName="phone">
                    </mat-form-field>
                    <mat-form-field class="example-margin">
                        <input matInput type="text" placeholder="RIB" formControlName="rib">
                    </mat-form-field>
                    <mat-form-field class="example-margin">
                        <input matInput type="text" placeholder="Adresse" formControlName="address">
                    </mat-form-field>
                     
        <button mat-raised-button color="primary" style="margin-bottom: 1%" (click)="validateModifyInfos()">Valider</button>    
                </section>
            </mat-card-content>
        </mat-card></form></div>
        


        <div *ngIf="showPartners">  
         <div *ngIf="wife">  
        <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column">
            <div fxFlex>
                <mat-card style="background-color:#466341;color: cornsilk" fxFlexFill fxLayoutAlign="center center">
                    Données Conjoint(e)
                </mat-card>
            </div>
        </div>
        <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
            <div [fxFlex]="30">
                    <mat-card fxFlexFill fxLayoutAlign="center center">
                            <span>Nom : </span> 
                            {{wifeInfos.lastname}} 
                           </mat-card>
                </div>
                <div [fxFlex]="30">
                        <mat-card fxFlexFill fxLayoutAlign="center center">
                                <span>Date de naissance : </span> 
                                {{wifeInfos.birthdate}} 
                               </mat-card>
                    </div>
                    <div [fxFlex]="30">
                        <mat-card fxFlexFill fxLayoutAlign="center center">
                                <span>Matricule : </span> 
                                {{wifeInfos.matricule}} 
                               </mat-card>
                    </div>
        </div>
    </div>

    <div *ngIf="child1">  
        <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column">
            <div fxFlex>
                <mat-card style="background-color:#466341;color: cornsilk" fxFlexFill fxLayoutAlign="center center">
                    Données Enfant 01
                </mat-card>
            </div>
        </div>
        <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
            <div [fxFlex]="30">
                    <mat-card fxFlexFill fxLayoutAlign="center center">
                            <span>Nom : </span> 
                            {{child1Infos.lastname}} 
                           </mat-card>
                </div>
                <div [fxFlex]="30">
                        <mat-card fxFlexFill fxLayoutAlign="center center">
                                <span>Date de naissance : </span> 
                                {{child1Infos.birthdate}} 
                               </mat-card>
                    </div>
                    <div [fxFlex]="30">
                        <mat-card fxFlexFill fxLayoutAlign="center center">
                                <span>Matricule : </span> 
                                {{child1Infos.matricule}} 
                               </mat-card>
                    </div>
                 </div>
    </div>

    <div *ngIf="child2">  
        <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column">
            <div fxFlex>
                <mat-card style="background-color:#466341;color: cornsilk" fxFlexFill fxLayoutAlign="center center">
                    Données Enfant 02
                </mat-card>
            </div>
        </div>
            <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
                <div [fxFlex]="30">
                        <mat-card fxFlexFill fxLayoutAlign="center center">
                                <span>Nom : </span> 
                                {{child2Infos.lastname}} 
                               </mat-card>
                    </div>
                    <div [fxFlex]="30">
                            <mat-card fxFlexFill fxLayoutAlign="center center">
                                    <span>Date de naissance : </span> 
                                    {{child2Infos.birthdate}} 
                                   </mat-card>
                        </div>
                        <div [fxFlex]="30">
                            <mat-card fxFlexFill fxLayoutAlign="center center">
                                    <span>Matricule : </span> 
                                    {{child2Infos.matricule}} 
                                   </mat-card>
                        </div>
                       </div>
    </div>


    <div *ngIf="child3">  
        <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column">
            <div fxFlex>
                <mat-card style="background-color:#466341;color: cornsilk" fxFlexFill fxLayoutAlign="center center">
                    Données Enfant 03
                </mat-card>
            </div>
        </div>
        <div class="mb-20" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
            <div [fxFlex]="30">
                    <mat-card fxFlexFill fxLayoutAlign="center center">
                            <span>Nom : </span> 
                            {{child3Infos.lastname}} 
                           </mat-card>
                </div>
                <div [fxFlex]="30">
                        <mat-card fxFlexFill fxLayoutAlign="center center">
                                <span>Date de naissance : </span> 
                                {{child3Infos.birthdate}} 
                               </mat-card>
                    </div>
                    <div [fxFlex]="30">
                        <mat-card fxFlexFill fxLayoutAlign="center center">
                                <span>Matricule : </span> 
                                {{child3Infos.matricule}} 
                               </mat-card>
                    </div>
                  </div>
    </div></div>

