<div> <form class="login-form" fxFlex [formGroup]="pwdFormGroup">
    <mat-card>
      <mat-card-header>
          <mat-card-title style="color: #006654"><b>Ajouter Prestataire</b></mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <label class="example-margin"><b>Type Prestatire: </b></label>
          <mat-radio-group  formControlName="type">
              <mat-radio-button class="example-margin" value="99">Conjoint(e)</mat-radio-button>
              <mat-radio-button class="example-margin" value="01">Enfant 1</mat-radio-button>
              <mat-radio-button class="example-margin" value="02">Enfant 2</mat-radio-button>
              <mat-radio-button class="example-margin" value="03">Enfant 3</mat-radio-button>
          </mat-radio-group>
        </mat-card-content>
        <mat-card-content>
          <mat-form-field>
              <input matInput placeholder="Nom et Prénom"   formControlName="name">
          </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Date de naissance"  formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
      </mat-card-content>
      <input type="file" name="photo" mat-raised-button color="primary" ng2FileSelect />
    
    <button type="button" mat-raised-button color="primary"
      (click)="uploader.uploadAll()" 
      [disabled]="!uploader.getNotUploadedItems().length" >
          Importer
    </button> <br><button (click)="addPartner()" mat-raised-button color="primary">Confirmer</button>
    </mat-card></form>
    </div>