
 <!--   <div fxFlex>
        <app-stat [bgClass]="'danger'" [icon]="'dashboard'" [count]="13" [label]="'New Tickets!'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'warn'" [icon]="'view_list'" [count]="12" [label]="'New task!'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'success'" [icon]="'shopping_cart'" [count]="124" [label]="'New Orders!'"></app-stat>
    </div>-->
    <div style="width: 20%; margin-bottom:4em;">
        <app-stat [bgClass]="'success'"   [label]=name></app-stat>
    </div>

    <div class="right">
    <div id="search">
      <input #search type="search" [placeholder]="filled?'Search':''" [ngClass]="{'filled':filled}"  [(ngModel)]="bulln"
           (click)="filled=!filled"> <button *ngIf="!filled" (click)="searchBull(bulln)">Rechercher</button>
           <button class="close" *ngIf="filled" (click)="search.value='';filled=false">X</button>
    </div>
  </div>
<div class="mb-10" flexLayout="row" >
    <div>
       <table mat-table [dataSource]="refunds" class="mat-elevation-z5">
            <ng-container matColumnDef="bull">
                    <th mat-header-cell *matHeaderCellDef>N°Bulletin </th>
                    <td mat-cell *matCellDef="let element"> {{element.bulletinNumber}} </td>
                </ng-container>
                <ng-container matColumnDef="careDate">
                        <th mat-header-cell *matHeaderCellDef>Date de soin </th>
                        <td mat-cell *matCellDef="let element"> {{element.careDate}} </td>
                    </ng-container>
                    <ng-container matColumnDef="cPolicy">
                            <th mat-header-cell *matHeaderCellDef>Police </th>
                            <td mat-cell *matCellDef="let element"> {{element.companyPolice}} </td>
                        </ng-container>
            <ng-container matColumnDef="setDate">
                <th mat-header-cell *matHeaderCellDef>Date de réception </th>
                <td mat-cell *matCellDef="let element"> {{element.settlementDate}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Matricule </th>
                <td mat-cell *matCellDef="let element"> {{element.membetMat}} </td>
            </ng-container>
            <ng-container matColumnDef="progress">
                <th mat-header-cell *matHeaderCellDef> Mnt dépensé </th>
                <td mat-cell *matCellDef="let element"> {{element.payedAmount}} </td>
            </ng-container>
            <ng-container matColumnDef="color">
                <th mat-header-cell *matHeaderCellDef> Mnt remboursé </th>
                <td mat-cell *matCellDef="let element"> {{element.refundedAmount}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element"> <button (click)="showDetailsBulletin(element.bulletinNumber)">
                        Voir Details
                    </button></td>
                </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>

        <mat-card *ngIf="showDetailsBull" style="border: black">
            <h2>Decompte de prestations maladie</h2>
            <table mat-table [dataSource]="refundsDetails" class="mat-elevation-z5">
                <ng-container matColumnDef="bull">
                        <th mat-header-cell *matHeaderCellDef>N°Bulletin </th>
                        <td mat-cell *matCellDef="let element"> {{element.bulletinNumber}} </td>
                    </ng-container>
                    <ng-container matColumnDef="careDate">
                            <th mat-header-cell *matHeaderCellDef>Date de soin </th>
                            <td mat-cell *matCellDef="let element"> {{element.careDate}} </td>
                        </ng-container>
                        <ng-container matColumnDef="cPolicy">
                                <th mat-header-cell *matHeaderCellDef>Police </th>
                                <td mat-cell *matCellDef="let element"> {{element.companyPolice}} </td>
                            </ng-container>
                <ng-container matColumnDef="setDate">
                    <th mat-header-cell *matHeaderCellDef>Date de réception </th>
                    <td mat-cell *matCellDef="let element"> {{element.settlementDate}} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Matricule </th>
                    <td mat-cell *matCellDef="let element"> {{element.membetMat}} </td>
                </ng-container>
                <ng-container matColumnDef="progress">
                    <th mat-header-cell *matHeaderCellDef> Mnt dépensé </th>
                    <td mat-cell *matCellDef="let element"> {{element.payedAmount}} </td>
                </ng-container>
                <ng-container matColumnDef="color">
                    <th mat-header-cell *matHeaderCellDef> Mnt remboursé </th>
                    <td mat-cell *matCellDef="let element"> {{element.refundedAmount}} </td>
                </ng-container>
                <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Mnt remboursé </th>
                        <td mat-cell *matCellDef="let element"> {{element.refundedAmount}} </td>
                    </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>  
        </mat-card>
